<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p textColor="dark"> This site was created by Shyam <br> It uses data from mapbox and weather API </p>
        <img class="portrait" src="/img/Shyam.jpg">

    </div>
    
    {{>footer}}
</body>

</html>